html {
  background-color: #c9b5ab;
  font-weight: normal;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption p {
  font-family: "PT Serif", serif;
}

figcaption {
  text-align: center;
  font-size: 1.125rem;
  font-style:italic;
}

p:first-child {
  font-size: 1.125rem;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

blockquote {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
}

cite {
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
  text-align:center;
}

ol li {
  font-size: 1.125rem;
  list-style-type: lower-greek;
  font-family: "PT Serif", serif;
}

dl dt {
  font-weight:bold;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

dl dd {
  font-family: "PT Serif", serif;
}

ul li {
  font-size: 0.8rem;
  list-style-type: circle;
  font-family: "PT Serif", serif;
}

a {
  text-decoration: underline;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #222;
}
