html {
  background-color: #c9b5ab;
  font-weight: normal;
}

h1, h2 {
  font-family: "PT Sans";
  color: #3f1622;
}

nav {
  font-family: "PT Sans";
  color: #8f2440;

}

img {
  width: 100%
}

figcaption, p, {
  font-family: "PT Serif", serif;
}

figcaption {
  text-align: center;
  font-size: 1.125rem;
  font-style:italic;
}

p:first-child {
  font-weight: bold;
  font-size: 1.125rem;
}

li:nth-last-child(3) {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

li:nth-last-child(2) {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

blockquote {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

cite {
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
  text-align:center;
}

ol li {
  font-size: 1.125rem;
  list-style-type: lower-greek;
  font-family: "PT Serif", serif;
}

dl dt {
  font-weight:bold;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

dl dd {
  font-family: "PT Serif", serif;
}

ul li {
  font-size: 0.8rem;
  list-style-type: circle;
  font-family: "PT Serif", serif;
}
